*{
    margin: 0;
    padding: 0;
}

main{
    background-color: rgba(97, 97, 97, 0.863);
    height: 200vh;
}

.cabecalho{
    font-family:sans-serif;
    background-color:#C19700 ;
    color:black;
    /*padding: 1rem;*/
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    column-gap: 3rem;
    justify-content: center

}

a{
    font-family:sans-serif;
    color:black;
    justify-content: center;
    align-items: center;
    
    text-decoration:rgb(5, 5, 5);
     
}



 .portfolio{
    /*margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;*/
    padding: 1rem;
    background-position: center;
    margin: 3rem;
    margin-top: 25px;

    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
  

    background-color: black;
    width: 90%;
    height: 300px;
   
}

.servicos h3{
    /*position: absolute;
    left: 600px;
    top: 500px;*/
    font-family: sans-serif;
    text-align: center;
}

.servicostext{
    font-family: sans-serif;
    position: absolute;
    left: 200px;
    top: 555px;
}

.servicos{
    background-color: white;
    width: 90%;
    height: 200px; 
    background-position: center;
    margin: 3rem;
    margin-top: 25px;
    padding: 1rem;
  }

  .sobre h3{
    font-family: sans-serif;
    position: absolute;
    left: 865px;
    top: 800px;
    color: white;
}
  
.sobre{
    background-color: black;
    width: 90%;
    height: 300px;
    margin: 3rem;
    margin-top: 25px;
    padding: 1rem;

}
.sobretext{
    font-family: sans-serif;
    position: absolute;
    left: 650px;
    top: 850px;
    color: white;
}


.contato{
    background-color:#C19700;
    width: 100%;
    height: 300px;
    font-family: sans-serif;
    
}
.contato form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato form input{
    width: 120%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.contato button{
    border-radius: 10px;
    padding: 8px 15px;
    width: 18%;
    margin: 8px 0;
    border: 1px solid #ccc;
    position: absolute;
    left: 622px;
    top: 1330px;
    font-family: sans-serif;
}


img{
    width: 359px;
    height: 254px;
    border-radius: 10px;
    margin: 1rem;
}



 #triangulo-para-cima {
    display: inline-block;
    margin-right: 50px;
    width: 0; 
    height: 0; 
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 55px solid #e73509;
    position: absolute;
    left: 50px;
    top: 25px;
}
  
 /* #circulo {
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px; 
    display: inline-block;
    position: absolute;
    left: 1080px;
    bottom: 20px;
    top: 20px;
   
  }*/ 
.redondo{
    box-sizing: border-box;
    position: absolute;
    width: 58px;
    height: 53px;
    border-radius: 50px;
    background: #D9D9D9;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    left: 1080px;
    top: 25px;

}

#triangulo-para-cima2 {
    display: inline-block;
    margin-right: 50px;
    width: 0; 
    height: 0; 
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 55px solid #e73509;
    position: absolute;
    left: 70px;
    top: 1280px;
   
  }

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
            
